@page "/projects/{ProjectId}"
@using TimeBuddy.Blazor.Components.Store.ProjectUseCase
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<ProjectState> State

@if (State.Value.Project is null || State.Value.IsLoading)
{
    <MudProgressCircular Indeterminate="true"/>
}
else
{
    @ProjectId
    <div class="d-flex flex-column ma-5">
        <h4 Class="mb-5">@State.Value.Project.Name</h4>
        <TimeFrameTimeLine TimeFrames="@State.Value.Project.TimeFrames"/>
    </div>
}

@code {

    [Parameter]
    public string ProjectId { get; set; }

    /// <inheritdoc />
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Guid.TryParse(ProjectId, out var id)) 
            Dispatcher.Dispatch(new LoadProjectAction(id));
    }
    
}